.authentication-container {
    display: flex;
    width: 1300px;
    justify-content:space-around;
    padding: 50px;
    margin: 30px auto;
    background-color: rgba(56, 9, 77, 0.9);
    border-radius: 20px;
}