.login-container {
    background-color: rgb(153, 236, 251);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px dotted rgb(255, 255, 255);
}