.pet-container {
    background-color: rgb(244, 237, 238);  
    padding: 30px;
}

.background-image {
    width: 80%;
    height: 90%;
    background-size: cover;
    background-position: center;
}

.pet-body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 140px;
    width: 180px;
}

h6 {
    padding-top: 170px;
}