.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    color: rgb(41, 245, 10);
}

    .category-title {
        font-size: 38px;
        margin-bottom: 25px;
        text-align: center;
        color: aqua;
    }
