.login-container{
    background-color: red;
}

.pets-choice-container{
    background-color: red;
    padding: 10px;

    .pet-container{
        background-color: rgb(55, 218, 243);
        padding: 20px;
    }

    .pet-body-container{
        background-color: rgb(241, 155, 234);
        padding: 30px;
    }
}

.login-body-container{
    background-color: red;
}

.input-container {
    background-color: aqua;
}

.btn{
    
}
