* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #6a8ea9;
    color: #222;
}

.booklist {
    width: 90%;
    max-width: 1170px;
    margin: 50px auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .booklist {
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
}

.book {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.book img{
    width: 100%;
    object-fit: cover;
}

.book h2 {
    margin-top: 10px;
    font-size: 10px;
}

.book h4 {
    color: #617d98;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    letter-spacing: 2px;
}

.book p{
    margin: 1rem 0 0.5rem;
}