.info-box-container {
    position: absolute;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(255, 203, 203);
    top: 400px;
    z-index: 5;
  
    .info-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: auto;
    }
  }
  